.navbar {
  background-color: #A0DDE3;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.mask {
  width: 35px;
  margin: 10px;
}